#navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
  }
  body{
    margin: 0;
  }
  #search{
    padding:10px;
    padding-right: 20px;
  }
  
  #search:hover{
    background-color: #CCCCCC;
  }
  
  #navbar div div{
    padding: 12px 50px;
    text-align: center;
    font-size: 15px;
    font-family:sans-serif;
    cursor:pointer;
  }
  
  #navbar div div:hover{
    background-color: #CCCCCC;
  }
  
  #img-grid{
    height: 500px;
    display: grid;
    grid-template-rows: 28fr 0.7fr 1fr;
    background: url("../assets/7.jpg");
    background-size: 100% 500px;
  
    text-align: right;
    color: white;
  }
  
  #header {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #textcontent {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  #band-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
        text-align: center;
        max-width: 1200px;
        margin:0 auto;
  }
  #band-content1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
        text-align: center;
        max-width: 1000px;
        margin:0 auto;
  }
  
  #band-header {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
  
  #band-subheader{
    font-style: italic;
    font-family: sans-serif;
    color: gray;
  }
  
  #band-content-text{
    font-family: sans-serif;
    text-align: justify;
  }
  
  #img-band{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    column-gap: 10px;
    justify-items: center;
  }
  
  #img-band1{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
    column-gap: 10px;
    justify-items: center;
  }
  
  #img-band2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    justify-items: center;
  }
  
  #img-band div{
    width: 200px;
    height: 200px;
    padding: 20px;
  }
  
  #img-band1 div{
    
    height: 200px;
    padding: 20px;
  }
  
  #img-band2 div{
    width: 150px;
    height: 150px;
    padding: 20px;
  }
  
  footer {
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  b{
    font-size: 20px;
    color: red;
  }
  a {
    text-align: center;
    bottom: 50%;
    color:white;
    text-decoration: none;
  }
  
  #member{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  
  }
  
  #member1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 16x;
  }
  
  #member2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 12x;
  }